@model Sfa.Tl.Matching.Models.ViewModel.BackViewModel

<a asp-route="GetOpportunityBasket"
   asp-route-opportunityId="@Model.OpportunityId"
   asp-route-opportunityItemId="@Model.OpportunityItemId"
   class="govuk-back-link">Back</a>