@using Sfa.Tl.Matching.Application.Extensions
@{
    ViewData["Title"] = "Match employers with providers for industry placements";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Match employers with providers for industry placements</h1>
        <p class="govuk-body">Use this service to help employers:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>find local providers with suitable students</li>
            <li>talk to providers about placements</li>
            <li>tell us if there are not enough providers</li>
        </ul>
        <div class="govuk-inset-text">
            You will only be able to find one type of placement for one location at a time.
        </div>
        <div>
            <a asp-action="Index" asp-controller="Proximity" id="tl-start-now" class="govuk-button govuk-button--start">Start now</a>
        </div>

        @if (Context.User.HasAdminRole())
        {
            <h2 class="govuk-heading-m">Service administration</h2>
            <ul class="govuk-list">
                <li>
                    <a asp-action="Index" class="govuk-link" asp-controller="DataImport" id="tl-upload-link">Upload employer and provider data</a>
                </li>
                <li>
                    <a asp-action="SearchProvider" class="govuk-link" asp-controller="Provider" id="tl-upload-link">Add or edit provider data</a>
                </li>
            </ul>
        }
    </div>
</div>