.tl-dashwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 36px;
}

.tl-dashgrid {
    display: flex;

    @include govuk-media-query($until: desktop) {
        flex: 0 0 100%;
    }
}

.tl-dashbox {
    background-color: darken(govuk-colour("grey-4"), 2%);
    border-bottom: 3px solid darken(govuk-colour("grey-3"), 0%);
    padding: 20px;
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    width: 100%;

    h4 {
        text-decoration: underline !important;
        color: $govuk-link-colour;
        @extend .govuk-link;
    }

    &:hover {
        outline: 3px solid $govuk-focus-colour;
        
        h4 {
            @extend .govuk-link:hover;
        }
    }
}
