.tl-search-results {
    list-style: none;
    padding: 0;
    margin: 0 0 $govuk-gutter;

    & p {
        margin-bottom: 5px;
    }

    label {
        min-width: 100%;
        box-sizing: border-box;
        padding: 8px 0px 5px 15px;
    }
}

.tl-search-results__list-item {
  border-bottom: 1px solid $govuk-border-colour;
  padding: $govuk-gutter-half 0;
}

.tl-search-results__list-item--with-checkbox {
  position: relative;
  padding: $govuk-gutter-half 0 $govuk-gutter-half 55px;

  .govuk-checkboxes__input {
    top: $govuk-gutter-half;

    & + .govuk-checkboxes__label:before {
      top: $govuk-gutter-half;
    }

    & + .govuk-checkboxes__label:after {
      top: 11px + $govuk-gutter-half;
    }
  }

  .govuk-checkboxes__item {
    position: static;
  }

  .govuk-checkboxes {
    margin-left: -55px;
  }

  .govuk-list--bullet {
    margin-bottom: 0;
  }
}

.tl-search-results__click-area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.tl-search-results-flag {
    background-color: govuk-colour("blue");
    color: govuk-colour("white");
    display: block;
    @include govuk-font($size: 16, $weight: bold);
    text-transform: uppercase;
    padding: 4px 8px;
    float: right;
    letter-spacing: 1px;
}