.tl-table__inactive {
    * {
        color: govuk-colour("grey-1");
    }
}


.tl-table {
    width: 100%;
    display: block;

    .tl-table__row {
        border-bottom: 1px solid #bfc1c3;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        p {
            width: 100%;
            display: inline-block;
        }
    }

    .tl-table__cell, .tl-table__header {
        display: inline-block;
        width: 25%;
        display: inline-flex;
        padding: 10px;
    }

    .tl-table__cell-50 {
        width: 50%;

        @include govuk-media-query($until: tablet) {
            width: 100%;
        }
    }

    .tl-table__cell-40 {
        width: 40%;

        @include govuk-media-query($until: tablet) {
            width: 100%;
        }
    }

    .tl-table__cell-20 {
        width: 20%;

        @include govuk-media-query($until: tablet) {
            width: 100%;
        }
    }

    .tl-table__cell-10 {
        width: 10%;

        @include govuk-media-query($until: tablet) {
            width: 100%;
        }
    }
}

.tl-table-responsive {

    @include govuk-media-query($until: tablet) {
        thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        tr {
            border-bottom: 3px solid #ddd;
            display: block;
            overflow: auto;
            padding: 15px 5px 5px 5px;
        }

        td {
            border-bottom: 1px solid #ddd;
            display: block;
            text-align: right;

            &:last-child {
                border-bottom: none;
            }
        }

        td::before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
        }

        .tl-table-responsive-link {
            float: left;
            border-bottom: none;
        }

        .tl-table-responsive-check {
            float: left;
            min-height: 200px;
            border: none;
            background-color: white;
            padding: 0;
            margin: 0;
        }
    }
}

.js-enabled .tl-table-clickable {
    tbody tr {
        &:hover {
            background-color: govuk-colour("grey-4");
            cursor: pointer;
        }
    }
}
