@model Sfa.Tl.Matching.Models.ViewModel.CancelViewModel

<a asp-route="RemoveAndGetOpportunityBasket"
   asp-route-opportunityId="@Model.OpportunityId"
   asp-route-opportunityItemId="@Model.OpportunityItemId"
   class="govuk-link tl-float-right govuk-!-margin-top-3" id="tl-finish">@Model.CancelText</a>