@model List<Sfa.Tl.Matching.Models.ViewModel.OpportunityBasketItemViewModel>

<form>
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="selectall" name="selectall" type="checkbox" value="selectall">
                    <label class="govuk-label govuk-checkboxes__label" for="selectall">
                        Select all
                    </label>
                </div>
            </div>
        </fieldset>
    </div>

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col"></th>
                <th class="govuk-table__header" scope="col">Workplace</th>
                <th class="govuk-table__header" scope="col">Job role</th>
                <th class="govuk-table__header" scope="col">Students wanted</th>
                <th class="govuk-table__header" scope="col">Providers</th>
                <th class="govuk-table__header" scope="col"></th>
                <th class="govuk-table__header" scope="col"></th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var item in Model)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <div class="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="referral1" name="referral1" type="checkbox" value="referral1">
                                <label class="govuk-label govuk-checkboxes__label" for="referral1">
                                    <span class="govuk-visually-hidden">Select this opportunity</span>
                                </label>
                            </div>
                        </div>
                    </td>
                    <td class="govuk-table__cell">@item.Workplace</td>
                    <td class="govuk-table__cell">@item.JobRole</td>
                    <td class="govuk-table__cell">@item.StudentsWanted</td>
                    <td class="govuk-table__cell">Providers content here</td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Edit</a></td>
                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>

    <button class="govuk-button">Continue with selected opportunities</button>
</form>