@using Sfa.Tl.Matching.Models.Enums
@model Sfa.Tl.Matching.Models.ViewModel.OpportunityBasketViewModel
@{
    ViewData["Title"] = "All opportunities";
}

@section backButton{
    <a asp-route="Providers_Get" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
            </div>
        }
        <span class="govuk-caption-l"> @Model.CompanyName</span>
        <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
        <button type="submit" class="govuk-button tl-button--grey">
            Add another opportunity
        </button>
        
        @if (Model.Items?.Count > 0)
        {
          <div>OpportunityBasketType = @Model.Type</div>

            switch (Model.Type)
            {
                case OpportunityBasketType.SingleReferral:
                    <partial name="_basketReferralSingle", model="Model.Items[0]" />
                    break;
                case OpportunityBasketType.ProvisionGapsOnly:
                    <partial name="_basketProvisionGap", model="Model.Items" />
                    break;
                    default:
                        <div class="govuk-tabs" data-module="tabs">

                            <ul class="govuk-tabs__list">
                                <li class="govuk-tabs__list-item">
                                    <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#providers">
                                        With providers
                                    </a>
                                </li>
                                <li class="govuk-tabs__list-item">
                                    <a class="govuk-tabs__tab" href="#no-providers">
                                        With no providers
                                    </a>
                                </li>
                            </ul>

                            <section class="govuk-tabs__panel" id="providers">
                                <p>Insert partial here</p>
                            </section>
                            <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="no-providers">
                                <p>Insert partial here</p>
                            </section>
                        </div>
                        break;
            }
        }
       
    </div>
</div>