<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-8">
            <h1 class="govuk-panel__title">
                Report sent to the industry placement team
            </h1>
        </div>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">We will try to find providers with students studying agriculture, environmental and animal care near.</p>
        <p class="govuk-body">If IP: Micheal Gill has agreed that we can share their contact details, we will contact them when we find suitable providers.</p>

        <button class="govuk-button">
            Finish
        </button>
    </div>
</div>