@model Sfa.Tl.Matching.Models.ViewModel.SentViewModel
@{
    ViewData["Title"] = "Emails sent";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-8">
            <h1 class="govuk-panel__title">@ViewData["Title"]</h1>
        </div>

        <p class="govuk-body">We have also sent a confirmation email to the employer.</p>
        <div class="govuk-inset-text">
            Remember to <a href="@Model.EmployerCrmRecord" target="_blank" class="govuk-link" id="tl-crm-link">update the employer’s CRM record (opens in a new window or tab)</a> with any new information.
        </div>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body" id="tl-next">We expect the providers will contact @Model.PrimaryContact within 2 to 3 working days. The providers will work with @Model.CompanyName to arrange the terms and details of each placement.</p>

        <p class="govuk-body"><a asp-controller="Proximity" asp-action="Start" class="govuk-button govuk-!-margin-bottom-0" id="tl-end">Finish</a></p>
        <p class="govuk-body js-visible"><a class="govuk-link" id="tl-feedback-survey" href="/feedback">Give us feedback</a></p>

        <input asp-for="EmployerCrmRecord" type="hidden" />
        <input asp-for="PrimaryContact" type="hidden" />

    </div>
</div>