@model Sfa.Tl.Matching.Models.ViewModel.ProviderProximitySearchViewModel

@{
    var searchResultCount = 1; // TODO AU FIX when new viewmodel
}

@{ var result = searchResultCount == 1 ? "result" : "results"; }

    <p class="govuk-body">
        <span class="govuk-!-font-size-36 govuk-!-font-weight-bold" id="tl-search-count">
            @searchResultCount
        </span> @result
        @if (Model.SearchParameters.SelectedFilters.Count > 0)
        {
            <text>for </text>
            for (var i = 0; i < Model.SearchParameters.SelectedFilters.Count; i++)
            {
                <span class="govuk-body govuk-!-font-weight-bold">@Model.SearchParameters.SelectedFilters[i]</span>
                if (i != Model.SearchParameters.SelectedFilters.Count - 1)
                {
                    <text> and </text>
                }
            }
        }
    </p>

<p class="govuk-body"><a href="/public/files/ShowMeEverythingSpreadsheet.xlsx" download="" class="govuk-link">Download as a spreadsheet</a></p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<!-- 1 -->
<h2 class="govuk-heading-m govuk-!-margin-bottom-1">Westminster Kingsway College</h2>

<ul id="tl-venue-detail-list" class="tl-inline-list tl-inline-list--bar govuk-!-margin-top-1">
    <li>Part of Capital City College Group   |   London NW1 3HB</li>
</ul>

<div class="timeline">
    <ul>
        <li id="tl-travel-times">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-0">1.4 miles</p>
        </li>
    </ul>
</div>

<p class="govuk-body govuk-!-margin-top-3">Has students learning:</p>
<ul id="tl-qualification-list" class="govuk-list">
    <li>
        <details class="govuk-details govuk-!-margin-0" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    business and administration
                </span>
            </summary>
            <div class="govuk-details__text">
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-0">
                    <li>business</li>
                </ul>
            </div>
        </details>
    </li>
    <li>
        <details class="govuk-details govuk-!-margin-0" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    construction
                </span>
            </summary>
            <div class="govuk-details__text">
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-0">
                    <li>plumbing</li>
                </ul>
            </div>
        </details>
    </li>
</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<a asp-route="Start" class="govuk-button">
    Finish
</a>