@model Sfa.Tl.Matching.Models.ViewModel.ProviderProximitySearchViewModel

@{
    ViewData["Title"] = "All providers in an area";
}
@section backButton{
    <a asp-route="Start" class="govuk-back-link" id="tl-back">Back</a>
}

<h1 class="govuk-heading-l">Providers within @Sfa.Tl.Matching.Models.ViewModel.SearchParametersViewModel.DefaultSearchRadius miles of @Model.SearchParameters.Postcode.ToUpper()</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <partial name="_filterbox" model="Model.SearchParameters" />
    </div>
    <div class="govuk-grid-column-two-thirds">
        <partial name="_filterresults" model="Model" />
    </div>
</div>