@{
    ViewData["Title"] = "Contact us";
    Layout = "_Layout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Contact us</h1>
            <p class="govuk-body"><a class="govuk-link" href="mailto:xxx.helpdesk_education.gov.uk">TO_DO_CONTACT_EMAIL_education.gov.uk</a>
                <span style="color:red;font-weight:bolder"> TODO: Find appropriate email</span>
            </p>
            <p class="govuk-body">
                Telephone 01234 567 890  <span style="color: red;font-weight:bolder"> TODO: Find phone number </span>for questions about the T Levels Industry Placement Service.
            </p>
            <p class="govuk-body">
                Monday to Friday 9am to 5pm
            </p>
            <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
        </div>
    </div>
</main>