@{
    ViewData["Title"] = "How to sign in";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-0">If you do not have an account to sign in</h2>
        <p class="govuk-body">Speak to your line manager or team lead and they can request one for you.</p>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-0">If you sign in to ESFA services with an &#64;sfa.bis.gov.uk account</h2>
        <p class="govuk-body">Use the same details to sign in to this service.</p>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-0">If you sign in to ESFA services with a different account</h2>
        <p class="govuk-body">Use the details that your team lead should have given you for this service.</p>

        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Have an account but still cannot sign into this service?
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">Make sure your username has been added to the service (speak to your line manager or team lead).</p>
                <p class="govuk-body">If this has already happened, you may need to reset your password (you can do this on the next screen).</p>

            </div>
        </details>

        <div class="govuk-form-group">
            <a asp-action="SignIn" asp-controller="Account" id="tl-login" class="govuk-button" id="tl-login">Continue</a>
        </div>
    </div>
</div>

