@{
    ViewData["Title"] = "Match employers with providers for industry placements";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Match employers with providers for industry placements</h1>
        <p class="govuk-body">Login to Industry Placement Matching Service:</p>
        <div class="govuk-form-group">
            <a asp-action="SignIn" asp-controller="Account" id="tl-login" class="govuk-button govuk-button--start" id="tl-login">Login</a>
        </div>
    </div>
</div>

