@{
    ViewData["Title"] = "Industry Placement Matching Service";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Industry Placement Matching Service</h1>
        <p class="govuk-body">Use this service to help employers:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>find local providers with suitable students</li>
            <li>talk to providers about placements</li>
            <li>tell us if there are not enough providers for them</li>
        </ul>
        <div class="govuk-inset-text">
            You will only be able to find one type of placement for one location at a time.
        </div>
        <<div class="form-group">
            <a asp-action="SignIn" asp-controller="Account" class="govuk-button govuk-button--start">Start now</a>
        </div>
    </div>
</div>

