@model object

@{
    ViewBag.Title = "Invalid role";
    Layout = "_Layout";
}

<div class="govuk-grid-row">
    <div class="govuk-column-two-thirds">
        <h1 class="heading-large">You aren't assigned the 'Find an industry placement User' and/or 'Find an industry placement Administrator' role in the Information Management Services system</h1>
        <p>You need to be given the 'Find an industry placement User' role so you can start recording assessment grades and request certificates.</p>

        <p>To request permission, you need to:</p>
        <ol class="list list-number">
            <li><a href="https://logon.fasst.org.uk/">Sign in to Information Management Services (IDAMS)</a>.</li>
            <li>Select 'My identity'.</li>
            <li>Click the 'Add a new permission' link.</li>
            <li>Search for 'End Point Assessment'.</li>
        </ol>
        <a asp-action="SignOut" asp-controller="Account" class="govuk-button govuk-button--start">Login using another account</a>
    </div>
</div>
