@model Sfa.Tl.Matching.Models.ViewModel.ServiceStatusHistoryViewModel
@{
    ViewData["Title"] = "Service under maintenance";
}

@section backButton{
    <a asp-controller="Proximity" asp-action="Start" class="govuk-back-link" id="tl-back">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

        <form asp-route="SaveServiceStatusHistory" novalidate>
            <input asp-for="IsOnline" type="hidden" />

            <p class="govuk-body">The service is currently @Model.BodyDisplayText.</p>

            <button type="submit"
                    class="@Model.ButtonClassName"
                    id="tl-maintenance">
                @Model.StatusDisplayText
            </button>
        </form>

    </div>
</div>