@{
    ViewData["Title"] = "Privacy";
}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 id="h1header" class="govuk-heading-xl">@ViewData["Title"]</h1>
            <section class="govuk-!-margin-top-8">
                <h2 class="heading-m">How we use your personal information</h2>
                <p class="govuk-body">The industry placement matching service is delivered by the Education and Skills Funding Agency (ESFA), an executive agency of the Department for Education (DfE).</p>
                <p class="govuk-body">This privacy notice explains how we use your personal information. For the purposes of relevant data protection legislation, the DfE is the data controller for personal information processed. For more detailed information on how we handle your personal information see the <a class="govuk-link" href="https://www.gov.uk/government/publications/esfa-privacy-notice">ESFA: privacy notice</a>.</p>
                <p class="govuk-body">In order to use the matching service, the only personal information we gather is your email. This helps us record how you’re using the matching service. In particular:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>how you find providers that might have industry placement students for the employers you’re acting on behalf of</li>
                    <li>the referral emails you send on behalf of employers to suitable providers</li>
                    <li>which employers you report that want placement students but don’t have enough providers to meet that need</li>
                </ul>
            </section>
            <section class="govuk-!-margin-top-8">
                <h2 class="heading-m">How we use your personal information</h2>
                <p class="govuk-body">Your personal information will be used for reporting purposes only within the ESFA and DfE.</p>
            </section>
            <section class="govuk-!-margin-top-8">

                <h2 class="heading-m">Your individual rights</h2>
                <p class="govuk-body">The law gives you certain rights with regards to your data, including:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>request a copy of any personal information that the industry placement matching service holds on you</li>
                    <li>question any information we have about you that you think is wrong or incomplete (you can contact us and ask for personal information to be corrected)</li>
                    <li>ask for your account to be deleted</li>
                </ul>
                <p class="govuk-body">You can request any of the above by emailing your request to:</p>
                <p class="govuk-body">
                    <a class="govuk-link" href="mailto:support.industryplacementmatching@education.gov.uk">support.industryplacementmatching@education.gov.uk </a>
                </p>
            </section>
            <section class="govuk-!-margin-top-8">
                <h2 class="heading-m">How to complain</h2>
                <p class="govuk-body">Please let us know if you are unhappy with how we have used your personal information. You can contact us by writing to:</p>
                <p class="govuk-body">
                    Ministerial and Public Communications Division<br />
                    Department for Education<br />
                    Piccadilly Gate<br />
                    Store Street<br />
                    Manchester<br />
                    M1 2WD
                </p>
            </section>
            <p class="govuk-body">You can also use this address to contact the DfE’s data protection officer.</p>
            <p class="govuk-body">
                You have the right to complain to the Information Commissioner’s Office. Find out on their website how to <a class="govuk-link" href="https://ico.org.uk/make-a-complaint/">report a concern</a>.
            </p>
</div>
    </div>
