@{
    ViewData["Title"] = "Sorry, this service is temporarily unavailable";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
        <p class="govuk-body">Please try again later.</p>
        <p class="govuk-body">
            If you still need help, you can email <a class="govuk-link" href="mailto:support.industryplacementmatching@education.gov.uk">support.industryplacementmatching@education.gov.uk</a>
        </p>
    </div>
</div>