@model Sfa.Tl.Matching.Models.ViewModel.SearchParametersViewModel
@{
    ViewData["Title"] = "Find local providers";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            This page has errors
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    //TODO Need to get tags for h-refs into the individual fields:
                    <li>
                        <a href="#postcode-error">@error.ErrorMessage</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}

@* ReSharper disable UnknownCssClass *@
<form class="form" asp-controller="Search" asp-action="Results">
    @* ReSharper restore UnknownCssClass *@
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <h1 class="govuk-heading-l">Find local providers</h1>
                <h2 class="govuk-heading-m">What skill is the employer looking for?</h2>
                <div class="govuk-form-group">
                    <label class="govuk-label" asp-for="SelectedRouteId">
                        Choose a skill area
                    </label>
                    <select class="govuk-select" asp-for="SelectedRouteId" asp-items="Model.RoutesSelectList"></select>
                </div>
                <h2 class="govuk-heading-m">Where is the placement?</h2>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="postcode">
                        Postcode of workplace
                    </label>
                    <input class="govuk-input govuk-input--width-5" asp-for="Postcode" id="postcode" name="postcode" type="text">
                    <span asp-validation-for="Postcode" class="govuk-form-group--error" id="postcode-error"></span>
                </div>
            </div>
            <button class="govuk-button">Search</button>
        </div>
    </div>
</form>
