<div class="govuk-width-container">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag ">
                beta
            </strong>
            <span class="govuk-phase-banner__text">
                This is a new service – your
                <a class="govuk-link" href="mailto:noreply.industryplacementmatching@education.gov.uk?subject=Feedback%20from%20page: @Context.Request.Path &body=This%20email%20goes%20direct%20to%20the%20team%20building%20the%20industry%20placement%20matching%20service.%0D%0A%0D%0AYou%20can%20use%20it%20to:%0D%0A%0D%0A-%20tell%20us%20about%20a%20technical%20issue%20you’ve%20spotted%0D%0A-%20raise%20a%20complaint%0D%0A-%20suggest%20an%20improvement%0D%0A-%20tell%20us%20anything%20else%20you’d%20like%20us%20to%20know%0D%0A%0D%0APlease%20indicate%20if%20you%20would%20prefer%20to%20remain%20anonymous.">feedback</a> will help us to improve it.
            </span>
        </p>
    </div>
</div>