@model Sfa.Tl.Matching.Models.ViewModel.QualificationSearchResultViewModel

    <form asp-route="SaveQualification" novalidate>
        <input type="hidden" asp-for="QualificationId" />
        <input type="hidden" asp-for="Title" />
        <input name="Source" value="Admin" type="hidden" />

        <tr class="govuk-table__row">
            <td class="govuk-table__cell">@Model.Title (@Model.LarId)</td>
            <td class="govuk-table__cell">
                <input asp-for="ShortTitle" sfa-validation-for="ShortTitle" sfa-validationerror-class="govuk-input--error" class="govuk-input" type="text" aria-describedby="short-title-hint">
            </td>
            <td class="govuk-table__cell">
                <div class="tl-expandable">
                    <button class="tl-expandable--header" tabindex="0">
                        <span class="tl-expandable--header-text">Skill areas</span>
                        <svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path d="m225.84 414.16l256 256c16.683 16.683 43.691 16.683 60.331 0l256-256c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.84 225.84-225.84-225.84c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z"></path></svg>
                    </button>
                    <div class="tl-expandable--content">
                        <fieldset class="govuk-fieldset">
                            <div class="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="item-1" name="item" type="checkbox" value="Agriculture, environmental and animal care">
                                    <label class="govuk-label govuk-checkboxes__label" for="item-1">
                                        Agriculture, environmental and animal care
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="item-2" name="item" type="checkbox" value="Business and administration">
                                    <label class="govuk-label govuk-checkboxes__label" for="item-2">
                                        Business and administration
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="item-3" name="item" type="checkbox" value="Care services">
                                    <label class="govuk-label govuk-checkboxes__label" for="item-3">
                                        Care services
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="item-4" name="item" type="checkbox" value="Catering and hospitality">
                                    <label class="govuk-label govuk-checkboxes__label" for="item-4">
                                        Catering and hospitality
                                    </label>
                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="item-5" name="item" type="checkbox" value="Construction">
                                    <label class="govuk-label govuk-checkboxes__label" for="item-5">
                                        Construction
                                    </label>
                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="item-6" name="item" type="checkbox" value="Creative and design">
                                    <label class="govuk-label govuk-checkboxes__label" for="item-6">
                                        Creative and design
                                    </label>
                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="item-7" name="item" type="checkbox" value="Digital">
                                    <label class="govuk-label govuk-checkboxes__label" for="item-7">
                                        Digital
                                    </label>
                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="item-8" name="item" type="checkbox" value="Education and childcare">
                                    <label class="govuk-label govuk-checkboxes__label" for="item-8">
                                        Education and childcare
                                    </label>
                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="item-9" name="item" type="checkbox" value="Engineering and manufacturing">
                                    <label class="govuk-label govuk-checkboxes__label" for="item-9">
                                        Engineering and manufacturing
                                    </label>
                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="item-10" name="item" type="checkbox" value="Hair and beauty">
                                    <label class="govuk-label govuk-checkboxes__label" for="item-10">
                                        Hair and beauty
                                    </label>
                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="item-11" name="item" type="checkbox" value="Health and science">
                                    <label class="govuk-label govuk-checkboxes__label" for="item-11">
                                        Health and science
                                    </label>
                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="item-12" name="item" type="checkbox" value="Legal, financial and accounting">
                                    <label class="govuk-label govuk-checkboxes__label" for="item-12">
                                        Legal, financial and accounting
                                    </label>
                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="item-13" name="item" type="checkbox" value="Protective services">
                                    <label class="govuk-label govuk-checkboxes__label" for="item-13">
                                        Protective services
                                    </label>
                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="item-14" name="item" type="checkbox" value="Sales, marketing and procurement">
                                    <label class="govuk-label govuk-checkboxes__label" for="item-14">
                                        Sales, marketing and procurement
                                    </label>
                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="item-15" name="item" type="checkbox" value="Transport and logistics">
                                    <label class="govuk-label govuk-checkboxes__label" for="item-15">
                                        Transport and logistics
                                    </label>
                                </div>
                            </div>
                        </fieldset>

                    </div>
                </div>
            </td>
            <td class="govuk-table__cell"><button class="govuk-button govuk-!-margin-0">Save</button></td>
        </tr>
    </form>
