<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-half" scope="col">Qualification title (learning aim reference)</th>
            <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Edit short title</th>
            <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Edit skill area</th>
            <th class="govuk-table__header govuk-!-width-one-quarter" scope="col"></th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <th class="govuk-table__cell">Level 3 Diploma in Mowing (10001234)</th>
            <td class="govuk-table__cell">
                Autocomplete
            </td>
            <td class="govuk-table__cell">Expandable</td>
            <td class="govuk-table__cell"><button class="govuk-button govuk-!-margin-0">Save</button></td>
        </tr>
    </tbody>
</table>
