@model Sfa.Tl.Matching.Models.ViewModel.QualificationSearchViewModel

@if (Model.ResultCount > 50)
{
    <p class="govuk-body">Showing top 50 results. If you cannot find the qualification you need, refine your search.</p>
}
<div class="tl-table">
    <div class="tl-table__head">
        <div class="tl-table__row">
            <div class="tl-table__cell tl-table__cell-50"><h4 class="govuk-heading-s">Qualification title (learning aim reference)</h4></div>
            <div class="tl-table__cell tl-table__cell-20"><h4 class="govuk-heading-s">Edit short title</h4></div>
            <div class="tl-table__cell tl-table__cell-20"><h4 class="govuk-heading-s">Edit skill area</h4></div>
            <div class="tl-table__cell tl-table__cell-10"></div>
        </div>
            @for (var i = 0; i < Model.Results?.Count; i++)
            {
                <partial name="_qualificationitem" model="@Model.Results[i]" />
            }
    </div>
</div>