<form class="form">
    <div class="govuk-form-group">
        <div class="tl-search-header">
            <div class="tl-searchfield">
                <div class="tl-search-input">
                    <label class="govuk-heading-s">
                        Enter qualification title or short title
                    </label>
                    <span class="govuk-error-message"></span>

                    <input class="govuk-input tl-search-input" type="text">
                </div>
                <div class="tl-search-submit"><button class="button" type="submit">Search</button></div>
            </div>
        </div>
    </div>
</form>
