@model Sfa.Tl.Matching.Models.ViewModel.QualificationSearchViewModel

@{
    ViewData["Title"] = "Edit qualifications";
}

@section backButton{
    <a asp-controller="Proximity" asp-action="Start" class="govuk-back-link">Back</a>
}

<h1 class="govuk-heading-l">@ViewData["Title"]</h1>


