@model Sfa.Tl.Matching.Models.ViewModel.RemoveProviderVenueViewModel

@{
    ViewData["Title"] = $"Remove {Model.Postcode}?";
}

@section backButton{
    <a asp-route="GetProviderVenueDetail" asp-route-providerVenueId="@Model.ProviderVenueId" class="govuk-back-link" id="tl-back">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Are you sure you want to remove @Model.Postcode?</h1>
        <form asp-route="ConfirmRemoveProviderVenue">
            <input asp-for="ProviderId" type="hidden" />
            <input asp-for="ProviderVenueId" type="hidden" />

            <p class="govuk-body">The venue will no longer show in search results.</p>
            <p class="govuk-body">This action cannot be undone.</p>

            <button id="tl-remove" type="submit" class="govuk-button">Remove venue</button>
        </form>
        <p class="govuk-body">
            <a asp-route="GetProviderVenueDetail" asp-route-providerVenueId="@Model.ProviderVenueId" class="govuk-link" id="tl-cancel">Cancel and return to venue overview</a>
        </p>
    </div>
</div>