@model Sfa.Tl.Matching.Models.ViewModel.ProviderSearchViewModel
<form class="form">
<p class="govuk-body">This provider is not yet in our service:</p>
<p class="govuk-heading-s govuk-!-margin-bottom-1">UKPRN</p>
<p class="govuk-body">10001111</p>

<p class="govuk-heading-s govuk-!-margin-bottom-1">Provider name</p>
<p class="govuk-body">Acme College</p>
<button class="govuk-button">Add this provider</button>
</form>