@model Sfa.Tl.Matching.Models.ViewModel.HideProviderViewModel

@{
    var hideText = Model.IsEnabledForSearch ? "hide" : "unhide ";
    ViewData["Title"] = $"Are you sure you want to {hideText} {Model.ProviderName}?";
}

@section backButton{
    <a asp-controller="Provider" asp-action="ProviderDetail" asp-route-providerId="@Model.ProviderId" class="govuk-back-link">Back</a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
        <form asp-controller="Provider" asp-action="ConfirmProviderChange">
            <input asp-for="ProviderId" type="hidden" />
            <input asp-for="IsEnabledForSearch" type="hidden" />

            <button type="submit" class="govuk-button">
                @(Model.IsEnabledForSearch ? "Hide" : "Unhide") provider
            </button>
        </form>
        <p class="govuk-body">
            <a asp-controller="Provider" asp-action="ProviderDetail" asp-route-providerId="@Model.ProviderId" class="govuk-link" id="tl-cancel">Cancel and return to provider overview</a>
        </p>
    </div>
</div>