@* TODO: Use correct view model when merged *@
@model Sfa.Tl.Matching.Models.Dto.ProviderDto

@{
    ViewData["Title"] = "ProviderDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ProviderDetail</h1>

@* TODO: Use correct view model properties*@
<a asp-controller="Provider" asp-action="ConfirmProviderChange" asp-route-ukPrn="@Model.UkPrn"> @(Model.IsEnabledForSearch ? "Hide" : "Unhide") provider</a>


