@using Microsoft.AspNetCore.Mvc.ModelBinding
@model Sfa.Tl.Matching.Models.ViewModel.SearchViewModel

@{
    ViewData["Title"] = "Select Providers";
}
@section backButton{
    <a asp-controller="Provider" asp-action="Index" class="govuk-back-link">Back</a>
    <a asp-controller="Provider" asp-action="Start" class="govuk-link tl-float-right govuk-!-margin-top-3"> Finish and start again </a>
}

@if (!ViewData.ModelState.IsValid &&
     ViewData.ModelState.GetValidationState("SearchResults.Results[0].IsSelected") == ModelValidationState.Invalid)
{
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            This page has errors
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                @*<li><a href="#Postcode" sfa-validation-for="@Model.SearchParameters.Postcode"></a></li>*@
                <li><a href="#Continue" sfa-validation-for="@Model.SearchResults.Results[0].IsSelected"></a></li>
            </ul>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <partial name="_searchbox" model="Model.SearchParameters" />
    </div>
</div>

@if (Model.SearchParameters.SelectedRouteId > 0 &&
    !string.IsNullOrEmpty(Model.SearchParameters.Postcode))
{
    <div class="govuk-grid-row govuk-!-margin-top-5">
        <div class="govuk-grid-column-two-thirds">
            @if (Model.SearchResults?.Results != null && Model.SearchResults.Results.Any())
            {
                <partial name="_searchresults" model="Model" />
            }
            else
            {
                <partial name="_emptysearchresults" model="Model" />
            }
        </div>
    </div>
}