@model Sfa.Tl.Matching.Models.ViewModel.SearchViewModel

@{
    ViewData["Title"] = "Select Providers";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <partial name="_searchbox" model="Model.SearchParameters" />
    </div>
</div>

@if (ViewData.ModelState.IsValid)
{
    <div class="govuk-grid-row govuk-!-margin-top-7">
        <div class="govuk-grid-column-two-thirds">
            @if (Model.SearchResults?.Results != null && Model.SearchResults.Results.Any())
            {
                <partial name="_searchresults" model="Model" />
            }
            else
            {
                <partial name="_emptysearchresults" model="Model" />
            }
        </div>
    </div>
}





