@model Sfa.Tl.Matching.Models.ViewModel.ProviderSearchViewModel
@{
    ViewData["Title"] = "Find a provider";
}

@section backButton{
    <a asp-controller="Proximity" asp-action="Start" class="govuk-back-link" id="tl-back">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_searchbox" model="Model.SearchParameters" />
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        
        @if (Model.SearchResults?.Results?.Count > 0)
        {
            @if (Model.SearchResults.IsUkRlp)
             {
                 <partial name="_addprovider" model="Model.SearchResults" />
             }
             else
             {
                 <partial name="_searchresults" model="Model" />
             }
        }
        else if (Model.SearchParameters.UkPrn.HasValue)
        {
            <p class="govuk-body">There is no active provider for <span class="govuk-!-font-weight-bold">@Model.SearchParameters.UkPrn</span>. Please try again.</p>
        }

    </div>
</div>