@model Sfa.Tl.Matching.Models.ViewModel.ProviderSearchViewModel

@{
    ViewData["Title"] = "Search for a provider";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section backButton{
    <a asp-controller="Proximity" asp-action="Start" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_searchbox" model="Model.SearchParameters" />

        @if (Model.SearchResults?.Results != null && Model.SearchResults.Results.Any())
        {
            <partial name="_searchresults" model="Model" />
        }

        @if (Model.IsAuthorisedUser)
        {
            <div>
                <form class="form" method="get" asp-controller="ProviderFeedback" asp-action="ConfirmSendProviderEmail" novalidate>
                    <button type="submit" class="govuk-button">
                        Send email
                    </button>
                </form>
            </div>
        }
    </div>
</div>