@using Sfa.Tl.Matching.Infrastructure.Extensions
@{
    ViewData["Title"] = "Find an industry placement";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Match employers with providers for industry placements</h1>
        <p class="govuk-body">Use this service to help employers:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>find local providers with suitable students</li>
            <li>talk to providers about placements</li>
            <li>tell us if there are not enough providers for them</li>
        </ul>
        <div class="govuk-inset-text">
            You will only be able to find one type of placement for one location at a time.
        </div>
        <div>
            <a asp-action="Index" asp-controller="Provider" class="govuk-button govuk-button--start">Start now</a>
        </div>

        @if (Context.User.HasAdminRole())
        {
            <p class="govuk-body">
                <a asp-action="Index" asp-controller="DataImport">Upload Employer and Provider Data</a>
            </p>
        }

    </div>
</div>