@model Sfa.Tl.Matching.Models.ViewModel.EmployerDetailsViewModel

<div class="govuk-inset-text">
    Make sure the employer confirms the most accurate and up-to-date contact name, email and telephone number for industry placements.
</div>

<div class="govuk-form-group" sfa-validation-for="PrimaryContact" sfa-validationerror-class="govuk-form-group--error">
    <label class="govuk-label" asp-for="PrimaryContact">
        Contact name
    </label>
    <span class="govuk-error-message" asp-validation-for="PrimaryContact"></span>
    <input asp-for="PrimaryContact" class="govuk-input govuk-input--width-20" sfa-validation-for="PrimaryContact" sfa-validationerror-class="govuk-input--error" />
</div>
<div class="govuk-form-group" sfa-validation-for="Email" sfa-validationerror-class="govuk-form-group--error">
    <label class="govuk-label" asp-for="Email">
        Email
    </label>
    <span class="govuk-error-message" asp-validation-for="Email"></span>
    <input asp-for="Email" class="govuk-input govuk-input--width-20" sfa-validation-for="Email" sfa-validationerror-class="govuk-input--error" />
</div>
<div class="govuk-form-group" sfa-validation-for="Phone" sfa-validationerror-class="govuk-form-group--error">
    <label class="govuk-label" asp-for="Phone">
        Phone number
    </label>
    <span class="govuk-error-message" asp-validation-for="Phone"></span>
    <input asp-for="Phone" class="govuk-input govuk-input--width-20" type="tel" sfa-validation-for="Phone" sfa-validationerror-class="govuk-input--error" />
</div>
<button type="submit" class="govuk-button" id="tl-confirm">Confirm and continue</button>