@model Sfa.Tl.Matching.Models.ViewModel.EmployerDetailsViewModel
@{
    ViewData["Title"] = "Check employer’s details";
}


@section backButton{
    <a asp-controller="Employer" asp-action="FindEmployer" asp-route-id="@Model.OpportunityId" class="govuk-back-link">Back</a>
    <a asp-controller="Provider" asp-action="Start" class="govuk-link tl-float-right govuk-!-margin-top-3" id="tl-finish"> Finish and start again </a>

}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    This page has errors
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li><a sfa-validation-for="EmployerContact"></a></li>
                        <li><a sfa-validation-for="EmployerContactEmail"></a></li>
                        <li><a sfa-validation-for="EmployerContactPhone"></a></li>
                    </ul>
                </div>
            </div>
        }
        <h1 class="govuk-heading-l">Check employer’s details</h1>
        <h2 class="govuk-heading-m">
            <label asp-for="CompanyName">@Model.CompanyName</label>
        </h2>

        <form asp-controller="Employer" asp-action="Details" novalidate>
            <input asp-for="OpportunityId" type="hidden" />
            <input asp-for="CompanyName" type="hidden" />

            <p class="govuk-body">
                <a asp-controller="Employer" asp-action="FindEmployer" asp-route-id="@Model.OpportunityId" class="govuk-link" id="tl-find-different">Find a different employer</a>
            </p>

            <div class="govuk-inset-text">
                Make sure the employer confirms the most accurate and up-to-date contact name, email and telephone number for industry placements.
            </div>

            <div class="govuk-form-group" sfa-validation-for="EmployerContact" sfa-validationerror-class="govuk-form-group--error">
                <label class="govuk-label" asp-for="EmployerContact">
                    Contact name for placements
                </label>
                <span class="govuk-error-message" asp-validation-for="EmployerContact"></span>
                <input asp-for="EmployerContact" class="govuk-input govuk-input govuk-input--width-20" sfa-validation-for="EmployerContact" sfa-validationerror-class="govuk-input--error" />
            </div>
            <div class="govuk-form-group" sfa-validation-for="EmployerContactEmail" sfa-validationerror-class="govuk-form-group--error">
                <label class="govuk-label" asp-for="EmployerContactEmail">
                    Email
                </label>
                <span class="govuk-error-message" asp-validation-for="EmployerContactEmail"></span>
                <input asp-for="EmployerContactEmail" class="govuk-input govuk-input--width-20" sfa-validation-for="EmployerContactEmail" sfa-validationerror-class="govuk-input--error" align` />
            </div>
            <div class="govuk-form-group" sfa-validation-for="EmployerContactPhone" sfa-validationerror-class="govuk-form-group--error">
                <label class="govuk-label" asp-for="EmployerContactPhone">
                    Phone number
                </label>
                <span class="govuk-error-message" asp-validation-for="EmployerContactPhone"></span>
                <input asp-for="EmployerContactPhone" class="govuk-input govuk-input--width-20" type="tel" sfa-validation-for="EmployerContactPhone" sfa-validationerror-class="govuk-input--error" />
            </div>
            <button type="submit" class="govuk-button" id="tl-confirm">Confirm and continue</button>
        </form>
    </div>
</div>