@model Sfa.Tl.Matching.Models.ViewModel.FindEmployerViewModel
@{
    ViewData["Title"] = "Who is the employer?";
}

@section backButton{
    <a asp-route="GetPlacementInformation" asp-route-opportunityItemId="@Model.OpportunityItemId" class="govuk-back-link" id="tl-back">Back</a>
    @await Component.InvokeAsync("Cancel", new { opportunityId = @Model.OpportunityId, opportunityItemId = @Model.OpportunityItemId })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li><a sfa-validation-for="CompanyName"></a></li>
                    </ul>
                </div>
            </div>
        }
        <form asp-action="SaveOpportunityCompanyName" id="findEmployer" novalidate>
            <input asp-for="OpportunityId" type="hidden" />
            <input asp-for="OpportunityItemId" type="hidden" />
            <input asp-for="SelectedEmployerId" type="hidden" />
            <div class="govuk-form-group" sfa-validation-for="CompanyName" sfa-validationerror-class="govuk-form-group--error">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" asp-for="CompanyName">
                        @ViewData["Title"]
                    </label>
                    <span id="employer-name-hint" class="govuk-hint">
                        Start typing their business name
                    </span>
                </h1>
                <span class="govuk-error-message" asp-validation-for="CompanyName"></span>
                <select id="CompanyName" name="CompanyName" class="govuk-input" asp-for="CompanyName"></select>
            </div>

            <input id="companyNameHidden" asp-for="CompanyNameWithAka" type="hidden" />
            <input id="previousCompanyNameHidden" asp-for="PreviousCompanyName" type="hidden" />

            <button id="tl-continue" class="govuk-button" type="submit">Continue</button>
        </form>
    </div>
</div>
@section jsfiles{
    <script src="~/javascripts/employer-search.min.js"></script>
}