@model Sfa.Tl.Matching.Models.ViewModel.EmployerNameViewModel


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form asp-action="Index">
                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--xl" for="employer-name">
                            Who is the employer?
                        </label>
                        <span id="employer-name-hint" class="govuk-hint">
                            Start typing their business name
                        </span>
                    </h1>
                    <input asp-for="BusinessName" class="govuk-input" id="business-name" name="business name" type="text">
                </div>

                <button type="submit" class="govuk-button">
                    Continue
                </button>
            </form>
        </div>
    </div>

