@model Sfa.Tl.Matching.Models.ViewModel.EmployerNameViewModel


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a href="#placement-role">You must tell us what specific job the placement student would do</a>
                        </li>
                        <li>
                            <a href="#placement-location-error">You must tell us whether the employer knows how many placements they want at this location</a>
                        </li>
                        <li>
                            <a href="#placement-number-error">You must estimate how many placements the employer wants at this location</a>
                        </li>
                    </ul>
                </div>
            </div>

            <h2 class="govuk-heading-l">Placement information</h2>
            <p class="govuk-body">This information helps us understand where there are not enough providers for industry placements.</p>

            <form asp-action="Index">
                <div class="govuk-form-group govuk-form-group--error">
                    <fieldset class="govuk-fieldset">
                        <label class="govuk-label govuk-label--m" for="placement-role">
                            What specific job would the placement student do?
                        </label>
                        <span id="placement-role-hint" class="govuk-hint">
                            For example, admin assistant, care worker, bricklayer
                        </span>
                        <span id="placement-role-error" class="govuk-error-message">
                            You must tell us what specific job the placement student would do
                        </span>

                        <input id="placement-role" class="govuk-input govuk-input" />
                    </fieldset>
                </div>





                <div class="govuk-form-group govuk-form-group--error">
                    <fieldset class="govuk-fieldset">
                        <label class="govuk-label govuk-label--m" for="placement-location">
                            Does know how many placements they want at this location?
                        </label>
                        <span id="placement-location-hint" class="govuk-hint">
                            This can be an estimate
                        </span>
                        <span id="placement-location-error" class="govuk-error-message">
                            You must tell us whether the employer knows how many placements they want at this location
                        </span>

                        <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="placement-location-yes" name="known-placement-location-quantity" type="radio" value="yes" data-aria-controls="conditional-placement-location" aria-expanded="false">
                                <label class="govuk-label govuk-radios__label" for="placement-location-yes">
                                    Yes
                                </label>
                            </div>

                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-placement-location">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="placement-number">
                                        Number of placements
                                    </label>
                                    <span id="placement-number-error" class="govuk-error-message">
                                        You must estimate how many placements the employer wants at this location
                                    </span>
                                    <input id="placement-number" class="govuk-input govuk-input govuk-input--width-3" />
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="placement-location-no" name="known-placement-location-quantity" type="radio" value="no">
                                <label class="govuk-label govuk-radios__label" for="placement-location-no">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button class="govuk-button">Continue</button>

            </form>





        </div>


    </div>

