// Generic float classes

.tl-float-left {
    float: left;
}

.tl-float-right {
    float: right;
}

.tl-hidden {
    display: none;
}


/*Change case */

.tl-lowercase {
    text-transform: lowercase;
}

.tl-uppercase {
    text-transform: uppercase;
}
