// Generic float classes

.tl-float-left {
    float: left;
}

.tl-float-right {
    float: right;
}

.tl-hidden {
    display: none !important;
}

.tl-visible {
    display: block !important;
}


/* Change case */

.tl-lowercase {
    text-transform: lowercase;
}

.tl-uppercase {
    text-transform: uppercase;
}


/* JS show hide */

.js-visible {
    display: none;
}

.js-enabled {
    .js-visible {
        display: inline-block;
    }
}

.tl-error {
    padding-left: 5px;
    border-left: 5px solid #b10e1e;
}

/*Show hide responsive*/

.tl-hidden-desktop {
    display: none;

    @include govuk-media-query($until: tablet) {
        display: block;
    }
}

.tl-hidden-tablet {
    display: none;

    @include govuk-media-query($until: mobile) {
        display: block;
    }
}

.tl-hidden-mobile {
    display: none;

    @include govuk-media-query($from: mobile) {
        display: block;
    }
}