// Generic float classes

.tl-float-left {
    float: left;
}

.tl-float-right {
    float: right;
}

.tl-hidden {
    display: none;
}


/* Change case */

.tl-lowercase {
    text-transform: lowercase;
}

.tl-uppercase {
    text-transform: uppercase;
}


/* JS show hide */

.js-visible {
    display: none;
}

.js-enabled {
    .js-visible {
        display: inline-block;
    }
}

.tl-error {
    padding-left: 5px;
    border-left: 5px solid #b10e1e;
}