@model Sfa.Tl.Matching.Models.ViewModel.SearchViewModel

@{
    ViewData["Title"] = "Select Providers";
}

<form class="form" asp-controller="Provider" asp-action="Results">
    <div class="das-pane das-pane__inline-form">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">

                <div class="govuk-form-group">
                    <label class="govuk-label govuk-!-font-weight-bold" asp-for="SearchParameters.SelectedRouteId">
                        Skill area
                    </label>
                    <span class="govuk-error-message"></span>

                    <select class="govuk-select govuk-!-width-full" asp-for="SearchParameters.SelectedRouteId" asp-items="Model.SearchParameters.RoutesSelectList"></select>

                </div>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <div class="govuk-form-group" sfa-validation-for="SearchParameters.Postcode" sfa-validationerror-class="govuk-form-group--error">
                    <label class="govuk-label govuk-!-font-weight-bold" asp-for="SearchParameters.Postcode">
                        Employer postcode
                    </label>
                    <span class="govuk-error-message" asp-validation-for="SearchParameters.Postcode"></span>
                    <input class="govuk-input govuk-input--width-5" asp-for="SearchParameters.Postcode" type="text" sfa-validation-for="SearchParameters.Postcode" sfa-validationerror-class="govuk-input--error">

                </div>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <div class="govuk-form-group" sfa-validation-for="SearchParameters.SearchRadius" sfa-validationerror-class="govuk-form-group--error">
                    <label class="govuk-label govuk-!-font-weight-bold" asp-for="SearchParameters.SearchRadius">
                        Providers within
                    </label>
                    <span class="govuk-error-message" asp-validation-for="SearchParameters.SearchRadius"></span>
                    <select class="govuk-select govuk-!-width-two-thirds" asp-for="SearchParameters.SearchRadius">
                        <option value="5">5 miles</option>
                        <option value="10">10 miles</option>
                        <option value="15">15 miles</option>
                        <option value="20">20 miles</option>
                        <option value="25">25 miles</option>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="govuk-button das-button--blue" name="resultsAction" value="searchAgain">Search again</button>

    </div>
</form>