@model Sfa.Tl.Matching.Models.ViewModel.SearchViewModel

@{
    ViewData["Title"] = "Select Providers";
}

<h2 class="govuk-body"><span class="govuk-!-font-size-36 govuk-!-font-weight-bold">17 </span>results for <span class="govuk-!-font-weight-bold">test </span>in <span class="govuk-!-font-weight-bold">health and science </span>within <span class="govuk-!-font-weight-bold">10 miles </span>of <span class="govuk-!-font-weight-bold">CV1 2WT</span></h2>

<a href="#" class="govuk-link">No suitable providers? Let us know</a>

<p class="govuk-hint">Choose who the employer wants to hear from</p>

@if (Model.SearchResults.Results != null && Model.SearchResults.Results.Any())
{


    <ol class="das-search-results">
        @foreach (var searchResult in Model.SearchResults.Results)
        {
            <li class="das-search-results__list-item das-search-results__list-item--with-checkbox">
                <div class="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="provider-1" name="provider" type="checkbox" value="1">
                        <label class="govuk-heading-m govuk-checkboxes__label" for="provider-1">
                            @searchResult.ProviderName
                            <span class="das-search-results__click-area"></span>
                        </label>
                    </div>
                </div>

                <ul class="das-inline-list das-inline-list--bar">
                    <li>searchResult.Postcode</li>
                    <li>@($" {searchResult.Distance:#.00}") miles</li>
                </ul>
                <p>Has students learning:</p>
                <ul class="govuk-list govuk-list--bullet">
                    @foreach (var qualification in searchResult.QualificationShortTitles)
                    {
                        <li>
                            @qualification
                        </li>
                    }
                </ul>
            </li>
        }
    </ol>
}
else
{
    <p> No results </p>
}
