@using Sfa.Tl.Matching.Application.Extensions
@model Sfa.Tl.Matching.Models.ViewModel.DashboardViewModel

@{
    ViewData["Title"] = "Match employers with providers for industry placements";
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
    </div>
    <div class="govuk-grid-column-full">

        <div class="govuk-grid-row tl-dashwrapper">
            <div class="govuk-grid-column-one-third tl-dashgrid">
                <a asp-route="OpportunityProximitySearch" class="tl-dashbox" id="tl-dash-createnew">
                    <h4 class="govuk-heading-m govuk-!-margin-bottom-1 govuk-link">Create and refer new opportunities</h4>
                    <p class="govuk-body govuk-!-margin-top-3">Find relevant, local providers to introduce to your employer.</p>
                </a>
            </div>

            <div class="govuk-grid-column-one-third tl-dashgrid">
                <a asp-route="ProviderProximitySearch" class="tl-dashbox" id="tl-dash-showall">
                    <h4 class="govuk-heading-m govuk-!-margin-bottom-1">Show all providers in an area</h4>
                    <p class="govuk-body govuk-!-margin-top-3">Search a geographical area for everything that’s available.</p>
                </a>
            </div>

            @if (Model.HasSavedOppportunities)
            {
                <div class="govuk-grid-column-one-third tl-dashgrid">
                    <a asp-route="GetSavedEmployerOpportunity" class="tl-dashbox" id="tl-dash-viewsaved">
                        <h4 class="govuk-heading-m govuk-!-margin-bottom-1">View saved opportunities</h4>
                        <p class="govuk-body govuk-!-margin-top-3">Any unreferred opportunities that you’re working on.</p>
                    </a>
                </div>
            }

        </div>

        @if (Context.User.HasAdminRole())
        {
            <h2 class="govuk-heading-m govuk-!-margin-top-4">Service administration</h2>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
                        <a class="govuk-link" asp-route="SearchProvider" id="tl-dash-manageprovider">Manage provider data</a>
                    </h4>
                    <p class="govuk-body">Add or edit provider contact, venue and course data.</p>
                </div>

                <div class="govuk-grid-column-one-third">
                    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
                        <a class="govuk-link" asp-route="EditQualifications" id="tl-dash-editquals">Edit qualifications</a>
                    </h4>
                    <p class="govuk-body">Change course-route mapping or edit course short titles.</p>
                </div>

                <div class="govuk-grid-column-one-third">
                    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
                        <a class="govuk-link" asp-action="Index" asp-controller="DataImport" id="tl-dash-uploaddata">Manually upload data</a>
                    </h4>
                    <p class="govuk-body">Upload csv files of local economic partnership (LEP) or Ofqual course data.</p>
                </div>
            </div>
        }

    </div>
</div>
